pandas==2.2.3
numpy==2.1.2
requests==2.32.3
python-dateutil==2.9.0.post0
scikit-learn==1.5.2
scipy==1.14.1
tqdm==4.66.5
urllib3==2.2.3
joblib==1.4.2
jupyterlab==4.2.5
matplotlib==3.9.2
seaborn==0.13.2
json5==0.9.25
statsmodels==0.14.4
tqdm==4.66.5
types-python-dateutil==2.9.0.20241003
urllib3==2.2.3